.sort {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
  list-style: none;
}

.sort_field,
.sort_direction {
  display: flex;
}

.sort__button {
  display: block;
  margin-right: 32px;
  padding: 0;

  color: #333;
  text-decoration: none;

  background-color: transparent;
  border: none;

  outline: none;
  cursor: pointer;
}

.sort__button:hover {
  opacity: 0.7;
}

.sort__button--active {
  color: #ffe800;
}
